<div class="container">
  <h1>Stupid Coaching V2</h1>
  <h2>The same coach you always loved but with Rails</h2>

  <form action="/answer" data-turbo="false">
    <input type="text" name="question">
    <input type="submit" value="Ask your coach!">
  </form>
</div>
